#newBot{
    background-color:aliceblue;
    padding:5px;
    border:1px solid black;
    width:90%;
}
#newUser{
    background-color: green;
    color:white;
    padding:5px;
    border:1px solid black;
    width:90%;
    margin-left:8%;
}
.root{
    max-width:300px;
    height:400px;
    overflow:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.root::-webkit-scrollbar {
    display: none;
}
.textbox{
    max-width:300px;
}
.textbox input[type="text"]{
    width:80%;
}
.textbox button{
    width:16%;
}
.chatbot{
    margin:10px;
}
.chatbot div{
    margin-top:10px;
    margin-bottom:5px;
}
