#newBot{
    background-color:aliceblue;
    padding:9px;
    border:1px solid black;
    width:80%;
}
#newUser{
    background-color: green;
    color:white;
    padding:9px;
    border:1px solid black;
    width:80%;
    margin-left:8%;
}
.root{
    font-size:90%;
    max-width:300px;
    padding:2%;
    height:360px;
    overflow:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    padding-bottom:0%;
}
.root::-webkit-scrollbar {
    display: none;
}
.textbox{
    max-width:300px;
}
.textbox input[type="text"]{
    width:78%;
    font-family: 'Open Sans', sans-serif;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:4px;
}
.textbox button{
    width:16%;
    font-family: 'Open Sans', sans-serif;
    padding-top:5px;
    padding-bottom:5px;
}
.chatbot{
    margin:10px;
}
.chatbot div{
    margin-top:10px;
    margin-bottom:5px;
}
body{
    font-family: 'Open Sans', 'Open Sans', 'Open Sans','Open Sans';
}
.suggestionArea{
    width:100%;
    height:38px;
    font-size:80%;
    overflow-x:hidden;
    overflow-y:hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    display:flex;
    margin-top:0px !important;
}
.suggestionArea::-webkit-scrollbar{
    display:hidden;
}
.suggestChips{
    margin-left:4px;
    margin-right:4px;
    border: 1px solid black;
    border-radius:20px 20px;
    cursor:pointer;
    padding-left:3%;
    padding-right:3%;
}