#newBot{
    background-color:aliceblue;
    padding:9px;
    border:1px solid black;
    width:80%;
}
#newUser{
    background-color: green;
    color:white;
    padding:9px;
    border:1px solid black;
    width:80%;
    margin-left:8%;
}
.root{
    font-size:90%;
    max-width:300px;
    padding:2%;
    height:400px;
    overflow:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.root::-webkit-scrollbar {
    display: none;
}
.textbox{
    max-width:300px;
}
.textbox input[type="text"]{
    width:78%;
    font-family: 'Open Sans', sans-serif;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:4px;
}
.textbox button{
    width:16%;
    font-family: 'Open Sans', sans-serif;
    padding-top:5px;
    padding-bottom:5px;
}
.chatbot{
    margin:10px;
}
.chatbot div{
    margin-top:10px;
    margin-bottom:5px;
}

body{
    font-family: 'Open Sans', 'Open Sans', 'Open Sans','Open Sans';
}