html{
    height:100%;
    background-color: rgba(240, 68, 96, 0.966);
}
body{
    height:100%;
    font-family: 'Open Sans','Open Sans','Open Sans',sans-serif;
    color:white;
    margin:0px;
}
.spaceDiv{
    height:calc(18vh);
}
.spacerDiv{
    height:calc(24vh);
}
.main{
    max-width:400px;
}
.main .getStarted{
    background: white;
    color:rgba(240, 68, 96, 0.966);
    border:1px solid white;
    border-radius: 40px 40px;
    padding:12px;
    padding-left:35px;
    padding-right:35px;
    transition:all 0.3s ease;
    cursor:pointer;
    vertical-align: baseline;
}
.main .getStarted:hover{
    background-color: rgba(243, 242, 242, 0.863)/*rgba(240, 68, 96, 0.966);*/
    /*color:white;*/
}
.desc{
    padding-bottom:4%;
    max-width: 190px;
    text-align:justify;
    font-size:90%;
}
.main h2{
    margin-bottom:10px;
    padding-bottom:2%;
}
.hr {
    border:1px solid white;
    border-radius:100px 100px;
}
.logo{
    width:40px;
}